*.pyc
*~
*.swp
*.egg-info/
docs/_build/
build/
dist/
.idea/
.doit.db*
.eggs/
env-pysamloader/
src/pysamloader/_version.py
.vs/
.vscode/
*__pycache__
/.release_token
packaging/windows/*.exe
packaging/windows/*.msi
.coverage
.tox

